<div class="row">
	<div class="col-md-12">
	
		<div class="panel panel-default">

			<div class="panel-body">
			
				<div class="row">
					<div class="col-sm-6">
					
						<!-- Condensed Table -->
						<strong>Upcoming Tools</strong>
						
						<table class="table table-bordered table-striped table-condensed">
							<thead>
								<tr>
									<th>Tool ID</th>
									<th>Tool Name</th>
									<th>Maintenance by:</th>
									<th>Days Left</th>
								</tr>
							</thead>
							
							<tbody>
								<tr ng-repeat="item in upcomingTools" ng-if="item.date <= 14 && item.date >= 0">
									<td>{{item.toolID}}</td>
									<td>{{item.toolName}}</td>
									<td>{{item.firstName + ' ' + item.lastName}}</td>
									<td>{{item.date}}</td>
								</tr>
							</tbody>
						</table>
					
					</div>
					<div class="col-sm-6">
					
						<!-- Combined Table -->
						<strong>Past Due Tools</strong>
						
						<table class="table table-bordered table-striped table-condensed">
							<thead>
								<tr>
									<th>Tool ID</th>
									<th>Tool Name</th>
									<th>Maintenance by:</th>
									<th>Days Behind</th>

								</tr>
							</thead>
							
							<tbody>
								<tr ng-repeat="item in upcomingTools" ng-if="item.date < 0">
									<td>{{item.toolID}}</td>
									<td>{{item.toolName}}</td>
									<td>{{item.firstName + ' ' + item.lastName}}</td>
									<td>{{-item.date}}</td>
								</tr>
							</tbody>
						</table>
					
					</div>
				</div>
			
			</div>
			
		</div>
		
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<canvas id="bar" class="chart chart-bar" chart-data="dataBar" chart-labels="labelsBar" chart-series="seriesBar" chart-colors="barColors" chart-options="options"></canvas>
					</div>
					<div class="col-md-6">
						<canvas id="pie" class="chart chart-pie"
  						chart-data="dataPie" chart-labels="labelsPie" chart-options="options" chart-colors="pieColors" chart-legend="true" chart-hover="false"></canvas>
  						<h6 align="center">Hover to see data.</h6> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>