<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">

				<!-- CRUD BUTTONS -->
				<div class="row">
					<div class="col-md-12">
						<div class="btn-group" dropdown>
							<button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown">
								Register <span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-blue no-spacing" role="menu">
								<li>
									<a href="" ng-click="createLineModal('modal-line', null, 'static');">Manufacturing Line</a>
								</li>
								<li>
									<a href="" ng-click="createWSModal('modal-ws', null, 'static');">Workstation</a>
								</li>
								<li>
									<a href="" ng-click="createToolModal('modal-tool');">Tool</a>
								</li>
							</ul>
						</div>

						<div class="btn-group">
							<button type="button" class="btn btn-success" ng-click="updateModal('', null, 'static');">Update</button>
						</div>
						
						<div class="btn-group pull-right">
							<button type="button" class="btn btn-red" ng-click="deleteEquipment();getEquipmentInfo();">Delete</button>
						</div>
					</div>
				</div>

				<br>
				<br>


				<!-- BRYAN'S FINDER -->
				<div class="row">

					<!-- LINE COLUMN -->
					<div class="col-md-4">
						<table class="table table-condensed table-bordered floatedTable">
							<thead>
								<tr>
									<th>Line</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="line in lines" ng-class="{'selected':line.lineID == selectedLine}" ng-click="setClickedLine(line.lineID)">
									
									<td id="{{line.lineID}}">{{line.lineID}} {{line.lineName}}
									<i class="fa-angle-right pull-right"></i>
									</td>

								</tr>
							</tbody>
						</table>
					</div> <!-- END Line Col -->

					<!-- WORKSTATION COLUMN -->
					<div class="col-md-4">
						<table class="table table-condensed table-bordered floatedTable">
							<thead>
								<tr>
									<th>Workstation</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="ws in workstations | filter: {lineID:selectedLine}" ng-class="{'selected':ws.wsID == selectedWS}" ng-click="setClickedWS(ws.wsID)">

									<td id="{{ws.wsID}}">{{ws.wsName}}
									<i class="fa-angle-right pull-right"></i>
									</td>

								</tr>
							</tbody>
						</table>
					</div> <!-- END Workstation Col -->

					<!-- TOOL COLUMN -->
					<div class="col-md-4">
						<table class="table table-condensed table-bordered floatedTable">
							<thead>
								<tr>
									<th>Tool</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="tool in tools | filter: {wsID:selectedWS}" ng-class="{'selected':tool.toolID == selectedTool}" ng-click="setClickedTool(tool.toolID, tool.isActive)">
									<td id="{{tool.toolID}}">{{tool.toolName}}</td>	
								</tr>
							</tbody>
						</table>
					</div> <!-- END Tool Col -->
				</div> <!-- END Finder -->

				<!-- TOOL CONTROL BUTTONS -->
				<div class="row">
					<div class="equipment_buttons">
						<div class="btn-group">
							<button type="button" class="btn btn-red" ng-click="disableOffButtonDelay();" ng-disabled="offButtonDisabled">Turn Off</button>
						</div>

						<div class="btn-group">
							<button type="button" class="btn btn-success" ng-click="disableOnButtonDelay();" ng-disabled="onButtonDisabled">Turn On</button>
						</div>	
					</div>
				</div>	<!-- END Tool Control Buttons -->
			</div> 
		</div> <!-- END Panel -->
	</div>
</div>


<!-- REGISTER MANUFACTURING LINE MODAL -->
<script type="text/ng-template" id="modal-line">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Register Manufacturing Line</h4>
	</div>
	
	<div class="modal-body">
	
		<form role="form" name="lineForm" novalidate>
			<!-- LIST OF LINES FROM PM PRO -->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" ng-class="{ 'has-error': lineForm.lineName.$invalid && lineForm.lineName.$pristine }">
						<label for="field-1" class="control-label">Line Name</label>
						<select style="width: 150px;" name="lineName" ng-model="lineInfo.lineName" ng-options="lineName.lineName as lineName.lineName for lineName in lineNames" required>
						  <option value="" disabled selected>--- Select from list ---</option>
						</select>				
					</div>		
				</div>
			</div>

			<!-- REMOTE IO ADDRESS -->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" ng-class="{ 'has-error': lineForm.remoteIoAddress.$pristine }">
						<label for="field-1" class="control-label">Remote IO Address</label>
						<select style="width: 150px;" name="remoteIoAddress" ng-model="lineInfo.remoteIoAddress" ng-options="address for address in remoteIoAddresses" required>
							<option value="" disabled selected>--- Select from list ---</option>
						</select>				
					</div>		
				</div>
			</div>

			<!-- SUPERVISOR NAMES -->
			<div class="row">
				<div class="col-md-6">
					<!-- SUPERVISOR FIRST NAME -->
					<div class="form-group" ng-class="{ 'has-error': lineForm.fName.$invalid && !lineForm.fName.$pristine }">

						<label for="field-1" class="control-label">Supervisor First Name</label>

						<input type="text" class="form-control" name="fName" 
						placeholder="First Name" ng-model="lineInfo.supervisorFirstName" ng-pattern="/^\w+\D$/" required>

						<p ng-show="lineForm.fName.$invalid && !lineForm.fName.$pristine" class="help-block">Enter a valid first name.</p>
					</div>	
				</div>
				
				<div class="col-md-6">
					<!-- SUPERVISOR LAST NAME -->
					<div class="form-group" ng-class="{ 'has-error': lineForm.lName.$invalid && !lineForm.lName.$pristine }">

						<label for="field-2" class="control-label">Supervisor Last Name</label>

						<input type="text" class="form-control" name="lName" placeholder="Last Name" ng-model="lineInfo.supervisorLastName" ng-pattern="/^\w+\D$/" required>

						<p ng-show="lineForm.lName.$invalid && !lineForm.lName.$pristine" class="help-block">Enter a valid last name.</p>
					</div>
				</div>
			</div>

			<!-- SUPERVISOR EMAIL -->
			<div class="row">
				<div class="col-md-12">
					<div class="form-group" ng-class="{ 'has-error': lineForm.email.$invalid && !lineForm.email.$pristine }">

						<label for="field-3" class="control-label">Supervisor Email Address</label>

						<input type="email" class="form-control" name="email" placeholder="Email" ng-model="lineInfo.supervisorEmail" required ng-pattern="/.+@.+\..+/">

						<p ng-show="lineForm.email.$invalid && !lineForm.email.$pristine" class="help-block">Enter a valid email address.</p>
					</div>
				</div>
			</div>

			<!-- SAVE BUTTON -->
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="closeLine(); getEquipmentInfo();" ng-disabled="lineForm.$invalid">Save</button>
			</div>
		</form>
	</div>
</script>

<!-- REGISTER WORKSTATION MODAL -->
<script type="text/ng-template" id="modal-ws">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Register Workstation</h4>
	</div>
	
	<div class="modal-body">
		<form role="form" name="wsForm" novalidate>


			<div class="row">
				<!-- NAME -->
				<div class="col-md-6">	
					<div class="form-group" ng-class="{ 'has-error': wsForm.wsName.$invalid && wsForm.wsName.$pristine }">
						<label for="field-1" class="control-label">Workstation Name</label>

						<select style="width: 150px;" ng-model="workstationInfo.workstationName" ng-options="ws.workstationName as (ws.workstationName + ' (Line: ' + ws.lineName + ')') for ws in wsNames" name="wsName" required>

						  <option value="" disabled selected>--- Select from list ---</option>
						</select>				
					</div>		
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
				<h4>Stack Light Physical Addresses</h4>
				</div>
			</div>

			<!-- ADDRESSES -->
			<div class="row">
				<div class="col-md-4">
					<div class="form-group" ng-class="{ 'has-error': wsForm.wsGreenModule.$invalid && wsForm.wsGreenModule.$pristine }">
						<label for="field-1" class="control-label">Green Module Number</label>
						<select style="width: 150px;" ng-model="workstationInfo.greenLightModuleNumber" name="wsGreenModule" required ng-options="module for module in moduleNumbers">
						  <option value="" disabled selected>--- Select from list ---</option>
						</select>	
					</div>
					<div class="form-group" ng-class="{ 'has-error': wsForm.wsGreenPoint.$invalid && wsForm.wsGreenPoint.$pristine }">
						<label for="field-1" class="control-label">Green Point Number</label>
						<select style="width: 150px;" ng-model="workstationInfo.greenLightPointNumber" name="wsGreenPoint" required ng-options="point for point in pointNumbers">
						  <option value="" disabled selected>--- Select from list ---</option>
						</select>	
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="form-group" ng-class="{ 'has-error': wsForm.wsYellowModule.$invalid && wsForm.wsYellowModule.$pristine }">
						<label for="field-1" class="control-label">Yellow Module Number</label>
						<select style="width: 150px;" ng-model="workstationInfo.yellowLightModuleNumber" name="wsYellowModule" required ng-options="module for module in moduleNumbers">
						  <option value="" disabled selected>--- Select from list ---</option>
						</select>	
					</div>
					<div class="form-group" ng-class="{ 'has-error': wsForm.wsYellowPoint.$invalid && wsForm.wsYellowPoint.$pristine }">
						<label for="field-1" class="control-label">Yellow Point Number</label>
						<select style="width: 150px;" ng-model="workstationInfo.yellowLightPointNumber" name="wsYellowPoint" required ng-options="point for point in pointNumbers">
						  <option value="" disabled selected>--- Select from list ---</option>
						</select>	
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group" ng-class="{ 'has-error': wsForm.wsRedModule.$invalid && wsForm.wsRedModule.$pristine }">
						<label for="field-1" class="control-label">Red Module Number</label>
						<select style="width: 150px;" ng-model="workstationInfo.redLightModuleNumber" name="wsRedModule" required ng-options="module for module in moduleNumbers">
						  <option value="" disabled selected>--- Select from list ---</option>
						</select>	
					</div>
					<div class="form-group" ng-class="{ 'has-error': wsForm.wsRedPoint.$invalid && wsForm.wsRedPoint.$pristine }">
						<label for="field-1" class="control-label">Red Point Number</label>
						<select style="width: 150px;" ng-model="workstationInfo.redLightPointNumber" name="wsRedPoint" required ng-options="point for point in pointNumbers">
						  <option value="" disabled selected>--- Select from list ---</option>
						</select>	
					</div>
				</div>
			</div>
			
			<br>

			<!-- Engineer in charge -->
			<div class="row">
				<div class="col-md-12">
					<div class="form-group" ng-class="{ 'has-error': wsForm.wsPerson.$invalid && wsForm.wsPerson.$pristine }">
						<label for="field-3" class="control-label">Engineer in Charge</label>
						<select style="width: 150px;" ng-model="workstationInfo.employeeSso" name="wsPerson" ng-options="user.sso as (user.firstName + ' ' + user.lastName + ' (' + user.sso + ')') for user in users | filter: {types:'Engineer'}" required>
						  <option value="" disabled selected>--- Select from list ---</option>
						</select>				
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<font color="red" style="margin-right:15px;">Make sure workstation Module and Point match enclosure.</font>
				<button type="button" class="btn btn-info" ng-click="closeWS(); getEquipmentInfo();" ng-disabled="wsForm.$invalid">Save</button>
			</div>
		</form>
	</div>
</script>


<!-- REGISTER TOOL MODAL -->
<script type="text/ng-template" id="modal-tool">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Register Tool</h4>
	</div>
	
	<div class="modal-body">
		<form role="form" name="toolForm" novalidate>

			<!-- TOOL NAME -->
			<div class="row form-group" ng-class="{ 'has-error': toolForm.toolName.$invalid && toolForm.toolName.$pristine }">
				<div class="col-md-4">
					<div>
						<label for="field-1" class="control-label">Tool Name</label>
					</div>
				</div>
						
				<div class="col-md-4">

					<select style="width: 150px;" ng-model="selectedTool" name="toolName" ng-options="tool as (tool.toolName + ' (Line: ' + tool.lineName + ', WS: ' + tool.workstationName + ')') for tool in pmProTools" required>

					  <option value="" disabled selected>--- Select from list ---</option>
					</select>
				</div>		
			</div>

			<!-- TOOL TYPE -->
			<div class="row form-group" ng-class="{ 'has-error': toolForm.toolType.$invalid && toolForm.toolType.$pristine }">
				<div class="col-md-4">
					<div>
						<label for="field-1" class="control-label">Tool Type</label>
					</div>	
				</div>

				<div class="col-md-4">
					<select style="width: 150px;" ng-model="toolInfo.toolType" name="toolType" required>
					  <option value="" disabled selected>--- Select from list ---</option>
					  <option value="Electric">Electric</option>
					  <option value="Pneumatic">Pneumatic</option>
					</select>				
				</div>		
			</div>	

			<!-- MODULE NUMBER -->
			<div class="row form-group" ng-class="{ 'has-error': toolForm.module.$invalid && toolForm.module.$pristine }">
				<div class="col-md-4">
					<div>
						<label for="field-2" class="control-label">Module Number</label>
					</div>
				</div>

				<div class="col-md-4">	
					<select style="width: 150px;" ng-model="toolInfo.remoteIoModuleNumber" name="module" required ng-options="module for module in moduleNumbers">
						<option value="" disabled selected>--- Select from list ---</option>
					</select>				
				</div>	
			</div>

			<!-- POINT NUMBER -->
			<div class="row form-group" ng-class="{ 'has-error': toolForm.point.$invalid && toolForm.point.$pristine }">
				<div class="col-md-4">
					<div>
						<label for="field-2" class="control-label">Point Number</label>
					</div>
				</div>	

				<div class="col-md-4">
					<select style="width: 150px;" ng-model="toolInfo.remoteIoPointNumber" name="point" required ng-options="point for point in pointNumbers">
						<option value="" disabled selected>--- Select from list ---</option>
					</select>				
				</div>	
			</div>

			<!-- RFID TAG -->
			<div class="row form-group" ng-class="{ 'has-error': toolForm.rfid.$invalid && toolForm.rfid.$pristine }">
				<div class="col-md-4">
					<div>
						<label for="field-1" class="control-label">RFID Tag</label>
						<button type="button" class="btn btn-default btn-xs" ng-click="instructions();"><i class="el-help-circled"></i></button>
					</div>
				</div>
				<div class="col-md-4">
					<select style="width: 190px;" ng-model="toolInfo.rfidAddress" name="rfid" required ng-options="add.LastTagRead as ('Line: ' + add.Line + ', ' + 'Reader: ' + add.Reader + ', ' + 'Tag: ' + add.LastTagRead) for add in rfidAddresses">
						<option value="" disabled selected>--- Scan, Populate, Select ---</option>
					</select>
				</div>
				<div class="col-md-2">
					<button type="button" style="margin-left: 50px;" class="btn btn-secondary btn-xs" ng-click="getScannedTags();">Populate</button>	
				</div>	
			</div>

			<!-- TECHNICIAN IN CHARGE -->
			<div class="row form-group" ng-class="{ 'has-error': toolForm.technician.$invalid && toolForm.technician.$pristine }">
				<div class="col-md-4">
					<div>
						<label for="field-3" class="control-label">Technician in Charge</label>
					</div>
				</div>

				<div class="col-md-1">
					<select style="width: 150px;" ng-model="toolInfo.employeeSso" name="technician" ng-options="user.sso as (user.firstName + ' ' + user.lastName + ' (' + user.sso + ')') for user in users | filter: {types:'Technician'}" required>
						<option value="" disabled selected>--- Select from list ---</option>
					</select>				
				</div>	
			</div>

			<!-- SAVE BUTTON -->
			<div class="modal-footer">
				<font color="red" style="margin-right:15px;">Make sure tool Module and Point match enclosure.</font>
				<button type="button" class="btn btn-info" ng-click="closeTool(); getEquipmentInfo();" ng-disabled="toolForm.$invalid">Save</button>
			</div>
		</form>
	</div>
</script>


<!-- UPDATE MANUFACTURING LINE MODAL -->
<script type="text/ng-template" id="modal-line-update">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Update Manufacturing Line</h4>
	</div>
	
	<div class="modal-body">
		<form role="form" name="updateLineForm">

			<!-- NAME -->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="field-1" class="control-label">Line Name</label>
						<h5>{{lineInfo.lineName}}</h5>
					</div>		
				</div>
			</div>

			<!-- SUPERVISOR NAMES -->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" ng-class="{ 'has-error': updateLineForm.fName.$invalid && updateLineForm.fName.$pristine }">
						<label for="field-1" class="control-label">Supervisor First Name</label>
						<input type="text" class="form-control" name="fName" placeholder="First Name" ng-model="lineInfo.supervisorFirstName" ng-pattern="/^\w+\D$/" required>
						<p ng-show="lineForm.fName.$invalid && !lineForm.fName.$pristine" class="help-block">Enter a valid first name.</p>
					</div>	
				</div>
				
				<div class="col-md-6">
					<div class="form-group" ng-class="{ 'has-error': updateLineForm.lName.$invalid && updateLineForm.lName.$pristine }">
						<label for="field-2" class="control-label">Supervisor Last Name</label>
						<input type="text" class="form-control" name="lName" placeholder="Last Name" ng-model="lineInfo.supervisorLastName" ng-pattern="/^\w+\D$/" required>
						<p ng-show="updateLineForm.lName.$invalid && !updateLineForm.lName.$pristine" class="help-block">Enter a valid last name.</p>
					</div>
				</div>
			</div>

			<!-- SUPERVISOR EMAIL -->
			<div class="row">
				<div class="col-md-12">
					<div class="form-group" ng-class="{ 'has-error': updateLineForm.email.$invalid && updateLineForm.email.$pristine }">
						<label for="field-3" class="control-label">Supervisor Email Address</label>
						<input type="email" class="form-control" name="email" placeholder="Email" ng-model="lineInfo.supervisorEmail" required ng-pattern="/.+@.+\..+/">
						<p ng-show="updateLineForm.email.$invalid && !updateLineForm.email.$pristine" class="help-block">Enter a valid email address.</p>
					</div>
				</div>
			</div>

			<!-- SAVE BUTTON -->
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="console.log(lineInfo.lineName);updateLine();close();" ng-disabled="updateLineForm.$invalid">Save</button>
			</div>
		</form>
	</div>
</script>

<!-- UPDATE WORKSTATION MODAL -->
<script type="text/ng-template" id="modal-ws-update">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Update Workstation</h4>
	</div>
	
	<div class="modal-body">
		<!-- NAME -->
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="field-1" class="control-label">Workstation Name</label>
					<h5>{{workstationInfo.wsName}}</h5>
				</div>		
			</div>
		</div>

		<!-- ADDRESSES -->
		<div class="row">
			<div class="col-md-6">
			<h4>Stack Light OPC Addresses</h4>
			</div>
		</div>
		<!-- ADDRESSES -->
			<div class="row">
				<div class="col-md-4">
					<div class="form-group" ng-class="{ 'has-error': wsForm.wsGreenModule.$invalid && wsForm.wsGreenModule.$pristine }">
						<label for="field-1" class="control-label">Green Module Number</label>
						<select style="width: 150px;" ng-model="workstationInfo.GreenLightModuleNumber" name="wsGreenModule" required ng-options="module for module in moduleNumbers">
						  <option value="" disabled selected>--- Select from list ---</option>
						</select>	
					</div>
					<div class="form-group" ng-class="{ 'has-error': wsForm.wsGreenPoint.$invalid && wsForm.wsGreenPoint.$pristine }">
						<label for="field-1" class="control-label">Green Point Number</label>
						<select style="width: 150px;" ng-model="workstationInfo.GreenLightPointNumber" name="wsGreenPoint" required ng-options="point for point in pointNumbers">
						  <option value="" disabled selected>--- Select from list ---</option>
						</select>	
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="form-group" ng-class="{ 'has-error': wsForm.wsYellowModule.$invalid && wsForm.wsYellowModule.$pristine }">
						<label for="field-1" class="control-label">Yellow Module Number</label>
						<select style="width: 150px;" ng-model="workstationInfo.yellowLightModuleNumber" name="wsYellowModule" required ng-options="module for module in moduleNumbers">
						  <option value="" disabled selected>--- Select from list ---</option>
						</select>	
					</div>
					<div class="form-group" ng-class="{ 'has-error': wsForm.wsYellowPoint.$invalid && wsForm.wsYellowPoint.$pristine }">
						<label for="field-1" class="control-label">Yellow Point Number</label>
						<select style="width: 150px;" ng-model="workstationInfo.yellowLightPointNumber" name="wsYellowPoint" required ng-options="point for point in pointNumbers">
						  <option value="" disabled selected>--- Select from list ---</option>
						</select>	
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group" ng-class="{ 'has-error': wsForm.wsRedModule.$invalid && wsForm.wsRedModule.$pristine }">
						<label for="field-1" class="control-label">Red Module Number</label>
						<select style="width: 150px;" ng-model="workstationInfo.redLightModuleNumber" name="wsRedModule" required ng-options="module for module in moduleNumbers">
						  <option value="" disabled selected>--- Select from list ---</option>
						</select>	
					</div>
					<div class="form-group" ng-class="{ 'has-error': wsForm.wsRedPoint.$invalid && wsForm.wsRedPoint.$pristine }">
						<label for="field-1" class="control-label">Red Point Number</label>
						<select style="width: 150px;" ng-model="workstationInfo.redLightPointNumber" name="wsRedPoint" required ng-options="point for point in pointNumbers">
						  <option value="" disabled selected>--- Select from list ---</option>
						</select>	
					</div>
				</div>
		
		<br>

		<!-- Engineer in charge -->
		<div class="row">
			<div class="col-md-12">
				<div class="form-group" ng-class="{ 'has-error': wsForm.wsPerson.$invalid && wsForm.wsPerson.$pristine }">
					<label for="field-3" class="control-label">Engineer in Charge</label>
					<select style="width: 150px;" ng-model="workstationInfo.employeeSso" name="wsPerson" ng-options="user.sso as (user.firstName + ' ' + user.lastName + ' (' + user.sso + ')') for user in users | filter: {types:'Engineer'}" required>
					  <option value="" disabled selected>--- Select from list ---</option>
					</select>				
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-info" ng-click="close();updateWorkstation();">Save</button>
		</div>
	</div>
</script>

<!-- UPDATE TOOL MODAL -->
<script type="text/ng-template" id="modal-tool-update">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Update Tool</h4>
	</div>
	
	<div class="modal-body">
	
		<!-- TOOL NAME -->
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="field-1" class="control-label">Tool Name</label>
				</div>
			</div>
					
			<div class="col-md-4">
				<h5>{{toolInfo.toolName}}</h5>
			</div>		
		</div>

		<!-- TOOL TYPE -->
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="field-1" class="control-label">Tool Type</label>
				</div>	
			</div>

			<div class="col-md-4">
				<select style="width: 150px;" ng-model="toolInfo.toolType">
				  <option value="volvo" disabled selected>--- Select from list ---</option>
				  <option value="Electric">Electric</option>
				  <option value="Pneumatic">Pneumatic</option>
				</select>				
			</div>		
		</div>

		<!-- MODULE NUMBER -->
		<div class="row form-group" ng-class="{ 'has-error': toolForm.module.$invalid && toolForm.module.$pristine }">
			<div class="col-md-4">
				<div>
					<label for="field-2" class="control-label">Module Number</label>
				</div>
			</div>

			<div class="col-md-4">	
				<select style="width: 150px;" ng-model="toolInfo.RemoteIoModuleNumber" name="module" required ng-options="module for module in moduleNumbers">
					<option value="" disabled selected>--- Select from list ---</option>
				</select>				
			</div>	
		</div>

		<!-- POINT NUMBER -->
		<div class="row form-group" ng-class="{ 'has-error': toolForm.point.$invalid && toolForm.point.$pristine }">
			<div class="col-md-4">
				<div>
					<label for="field-2" class="control-label">Point Number</label>
				</div>
			</div>	

			<div class="col-md-4">
				<select style="width: 150px;" ng-model="toolInfo.RemoteIoPointNumber" name="point" required ng-options="point for point in pointNumbers">
					<option value="" disabled selected>--- Select from list ---</option>
				</select>				
			</div>	
		</div>

		<!-- RFID TAG -->
			<div class="row form-group" ng-class="{ 'has-error': toolForm.rfid.$invalid && toolForm.rfid.$pristine }">
				<div class="col-md-4">
					<div>
						<label for="field-1" class="control-label">RFID Tag</label>
						<button type="button" class="btn btn-default btn-xs" ng-click="rfidUpdateInstructions();"><i class="el-help-circled"></i></button>
					</div>
				</div>
				<div class="col-md-4">
					<h5>{{toolInfo.rfidAddress}}</h5>
				</div>
			</div>

		<!-- TECHNICIAN IN CHARGE -->
		<div class="row">
			<div class="col-md-4">
				<div class="form-group" ng-class="{ 'has-error': toolForm.toolPerson.$invalid && toolForm.toolPerson.$pristine }">
					<label for="field-3" class="control-label">Technician in Charge</label>
				</div>
			</div>
			<div class="col-md-4">
				<select style="width: 150px;" ng-model="toolInfo.employeeSso" name="toolPerson" ng-options="user.sso as (user.firstName + ' ' + user.lastName + ' (' + user.sso + ')') for user in users | filter: {types:'Technician'}" required>
					<option value="" disabled selected>--- Select from list ---</option>
				</select>				
			</div>
		</div>

		<!-- SAVE BUTTON -->
		<div class="modal-footer">
			<button type="button" class="btn btn-info" ng-click="close();updateTool();">Save</button>
		</div>
	</div>
</script>
