<page-title ng-if="layoutOptions.pageTitles" title="Equipment Management"></page-title>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">

				<!-- CRUD BUTTONS -->
				<div class="row">
					<div class="btn-group" dropdown>
						<button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown">
							Register <span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-blue no-spacing" role="menu">
							<li>
								<a href="" ng-click="openModal('modal-line', null, 'static');">Manufacturing Line</a>
							</li>
							<li>
								<a href="" ng-click="openModal('modal-ws', null, 'static');">Workstation</a>
							</li>
							<li>
								<a href="" ng-click="openModal('modal-tool');">Tool</a>
						</ul>
					</div>

					<div class="btn-group">
						<button type="button" class="btn btn-success" ng-click="updateModal('', null, 'static');">Update</button>
					</div>

					<div class="btn-group pull-right">
						<button type="button" class="btn btn-red">Delete</button>
					</div>
				</div>

				<br>
				<br>


				<!-- BRYAN'S FINDER -->
				<div class="row">

					<!-- LINE COLUMN -->
					<div class="col-md-4">
						<table class="table table-condensed table-bordered floatedTable">
							<thead>
								<tr>
									<th>Line</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="line in lines" ng-class="{'selected':line.lineID == selectedLine}" ng-click="setClickedLine(line.lineID)">
									
									<td id="{{line.lineID}}">{{line.lineID}} {{line.lineName}}
									<i class="fa-angle-right pull-right"></i>
									</td>

								</tr>
							</tbody>
						</table>
					</div> <!-- END Line Col -->

					<!-- WORKSTATION COLUMN -->
					<div class="col-md-4">
						<table class="table table-condensed table-bordered floatedTable">
							<thead>
								<tr>
									<th>Workstation</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="ws in workstations | filter: {lineID:selectedLine}" ng-class="{'selected':ws.wsID == selectedWS}" ng-click="setClickedWS(ws.wsID)">

									<td id="{{ws.wsID}}">{{ws.wsName}}
									<i class="fa-angle-right pull-right"></i>
									</td>

								</tr>
							</tbody>
						</table>
					</div> <!-- END Workstation Col -->

					<!-- TOOL COLUMN -->
					<div class="col-md-4">
						<table class="table table-condensed table-bordered floatedTable">
							<thead>
								<tr>
									<th>Tool</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="tool in tools | filter: {wsID:selectedWS}" ng-class="{'selected':tool.toolID == selectedTool}" ng-click="setClickedTool(tool.toolID)">
									<td id="{{tool.toolID}}">{{tool.toolName}}</td>	
								</tr>
							</tbody>
						</table>
					</div> <!-- END Tool Col -->
				</div> <!-- END Finder -->

				<!-- TOOL CONTROL BUTTONS -->
				<div class="row">
					<div class="equipment_buttons">
						<div class="btn-group">
							<button type="button" class="btn btn-red">Turn Off</button>
						</div>

						<div class="btn-group">
							<button type="button" class="btn btn-success">Turn On</button>
						</div>	
					</div>
				</div>	<!-- END Tool Control Buttons -->
			</div> 
		</div> <!-- END Panel -->
	</div>
</div>


<!-- REGISTER MANUFACTURING LINE MODAL -->
<script type="text/ng-template" id="modal-line">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Register Manufacturing Line</h4>
	</div>
	
	<div class="modal-body" ng-controller="EquipmentCreateCtrl">
	
		<!-- LIST OF LINES FROM PM PRO -->
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="field-1" class="control-label">Line Name</label>
					<select style="width: 150px;" ng-model="lineInfo.lineName">
					  <option value="volvo">--- Select from list ---</option>
					  <option value="saab">Saabdjdbnjdwjdnjwdkwebjwbefjkebw kjc dkbewkbfjkewbcejkwbkj</option>
					  <option value="opel">Opel</option>
					  <option value="audi">Audi</option>
					</select>				
				</div>		
			</div>
		</div>

		<!-- SUPERVISOR NAMES -->
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="field-1" class="control-label">Name</label>
					<input type="text" class="form-control" id="field-1" placeholder="First Name" ng-model="lineInfo.supervisorFirstName">
				</div>	
			</div>
			
			<div class="col-md-6">
				<div class="form-group">
					<label for="field-2" class="control-label">Last Name</label>
					<input type="text" class="form-control" id="field-2" placeholder="Last Name" ng-model="lineInfo.supervisorLastName">
				</div>
			</div>
		</div>

		<!-- SUPERVISOR EMAIL -->
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label for="field-3" class="control-label">Supervisor Email Address</label>
					<input type="text" class="form-control" id="field-3" placeholder="Email" ng-model="lineInfo.supervisorEmail">
				</div>
			</div>
		</div>

		<!-- SAVE BUTTON -->
		<div class="modal-footer">
			<button type="button" class="btn btn-info" ng-click="console.log(lineInfo.lineName);currentModal.dismiss();createLine();">Save</button>
		</div>

	</div>
</script>

<!-- REGISTER WORKSTATION MODAL -->
<script type="text/ng-template" id="modal-ws">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Register Workstation</h4>
	</div>
	
	<div class="modal-body" ng-controller="EquipmentCreateCtrl">
		<!-- NAME -->
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="field-1" class="control-label">Workstation Name</label>
					<select style="width: 150px;" ng-model="workstationInfo.workstationName">
					  <option value="NO ONE">--- Select from list ---</option>
					  <option value="Saab">Saab</option>
					  <option value="Opel">Opel</option>
					  <option value="Audi">Audi</option>
					</select>				
				</div>		
			</div>
		</div>

		<!-- ADDRESSES -->
		<div class="row">
			<div class="col-md-6">
			<h4>Stack Light OPC Addresses</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="field-1" class="control-label">Green</label>
					<select style="width: 150px;" ng-model="workstationInfo.greenLightOpcTag">
					  <option value=0>--- Select from list ---</option>
					  <option value=1>1</option>
					  <option value=2>2</option>
					  <option value=3>3</option>
					</select>	
				</div>	
			</div>
			
			<div class="col-md-4">
				<div class="form-group">
					<label for="field-2" class="control-label">Yellow</label>
					<select style="width: 150px;" ng-model="workstationInfo.yellowLightOpcTag">
					  <option value=0>--- Select from list ---</option>
					  <option value=1>1</option>
					  <option value=2>2</option>
					  <option value=3>3</option>
					</select>				
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<label for="field-2" class="control-label">Red</label>
					<select style="width: 150px;" ng-model="workstationInfo.redLightOpcTag">
					  <option value=0>--- Select from list ---</option>
					  <option value=1>1</option>
					  <option value=2>2</option>
					  <option value=3>3</option>
					</select>				
				</div>	
			</div>
		</div>
		
		<br>

		<!-- Engineer in charge -->
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label for="field-3" class="control-label">Engineer in Charge</label>
					<select style="width: 150px;" ng-model="workstationInfo.employeeSso">
					  <option value=0>--- Select from list ---</option>
					  <option value=1>1</option>
					  <option value=2>2</option>
					  <option value=3>3</option>
					</select>				
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();createWorkstation()">Save</button>
		</div>
	</div>
</script>


<!-- REGISTER TOOL MODAL -->
<script type="text/ng-template" id="modal-tool">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Register Tool</h4>
	</div>
	
	<div class="modal-body" ng-controller="EquipmentCreateCtrl">
	
		<!-- TOOL NAME -->
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="field-1" class="control-label">Tool Name</label>
				</div>
			</div>
					
			<div class="col-md-4">
				<select style="width: 150px;" ng-model="toolInfo.toolName">
				  <option value="volvo">--- Select from list ---</option>
				  <option value="saab">Saab</option>
				  <option value="opel">Opel</option>
				  <option value="audi">Audi</option>
				</select>

			</div>		
		</div>

		<!-- TOOL TYPE -->
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="field-1" class="control-label">Tool Type</label>
				</div>	
			</div>

			<div class="col-md-4">
				<select style="width: 150px;" ng-model="toolInfo.toolType">
				  <option value="volvo">--- Select from list ---</option>
				  <option value="Electric">Electric</option>
				  <option value="Pneumatic">Pneumatic</option>
				</select>				
			</div>		
		</div>

		<!-- RFID TAG -->
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="field-1" class="control-label">RFID Tag</label>
				</div>
			</div>
			<div class="col-md-4">
				<select style="width: 150px;" ng-model="toolInfo.rfidAddress">
				  <option value="volvo">--- Select from list ---</option>
				  <option value=1>1</option>
				  <option value=2>2</option>
				  <option value=3>3</option>
				</select>	
			</div>	
		</div>				

		<!-- OPC TAG -->
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="field-2" class="control-label">OPC Tag</label>
				</div>
			</div>

			<div class="col-md-4">	
				<select style="width: 150px;" ng-model="toolInfo.opcTag">
					<option value="volvo">--- Select from list ---</option>
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
				</select>				
			</div>	
		</div>

		<!-- IO ADDRESS -->
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="field-2" class="control-label">I/O Address</label>
				</div>
			</div>	

			<div class="col-md-4">
				<select style="width: 150px;" ng-model="toolInfo.ioAddress">
					<option value="volvo">--- Select from list ---</option>
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
				</select>				
			</div>	
		</div>

		<!-- TECHNICIAN IN CHARGE -->
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="field-3" class="control-label">Technician in Charge</label>
				</div>
			</div>

			<div class="col-md-1">
				<select style="width: 150px;" ng-model="toolInfo.employeeSso">
					<option value="volvo">--- Select from list ---</option>
					<option value=1>Saab</option>
					<option value=2>Opel</option>
					<option value=3>Audi</option>
				</select>				
			</div>	
		</div>

		<!-- SAVE BUTTON -->
		<div class="modal-footer">
			<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();createTool();">Save</button>
		</div>
	</div>
</script>


<!-- UPDATE MANUFACTURING LINE MODAL -->
<script type="text/ng-template" id="modal-line-update">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Update Manufacturing Line</h4>
	</div>
	
	<div class="modal-body">
	
		<!-- LIST OF LINES FROM PM PRO -->
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="field-1" class="control-label">Line Name</label>
					<select style="width: 150px;" ng-model="lineInfo.lineName">
					  <option value="volvo">--- Select from list ---</option>
					  <option value="saab">Saabdjdbnjdwjdnjwdkwebjwbefjkebw kjc dkbewkbfjkewbcejkwbkj</option>
					  <option value="opel">Opel</option>
					  <option value="audi">Audi</option>
					</select>				
				</div>		
			</div>
		</div>

		<!-- SUPERVISOR NAMES -->
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="field-1" class="control-label">Name</label>
					<input type="text" class="form-control" id="field-1" placeholder="First Name" ng-model="lineInfo.supervisorFirstName">
				</div>	
			</div>
			
			<div class="col-md-6">
				<div class="form-group">
					<label for="field-2" class="control-label">Last Name</label>
					<input type="text" class="form-control" id="field-2" placeholder="Last Name" ng-model="lineInfo.supervisorLastName">
				</div>
			</div>
		</div>

		<!-- SUPERVISOR EMAIL -->
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label for="field-3" class="control-label">Supervisor Email Address</label>
					<input type="text" class="form-control" id="field-3" placeholder="Email" ng-model="lineInfo.supervisorEmail">
				</div>
			</div>
		</div>

		<!-- SAVE BUTTON -->
		<div class="modal-footer">
			<button type="button" class="btn btn-info" ng-click="console.log(lineInfo.lineName);updateLine();close();">Save</button>
		</div>

	</div>
</script>

<!-- UPDATE WORKSTATION MODAL -->
<script type="text/ng-template" id="modal-ws-update">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Update Workstation</h4>
	</div>
	
	<div class="modal-body">
		<!-- NAME -->
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="field-1" class="control-label">Workstation Name</label>
					<select style="width: 150px;" ng-model="workstationInfo.wsName">
					  <option value="NO ONE">--- Select from list ---</option>
					  <option value="Saab">Saab</option>
					  <option value="Opel">Opel</option>
					  <option value="Audi">Audi</option>
					</select>				
				</div>		
			</div>
		</div>

		<!-- ADDRESSES -->
		<div class="row">
			<div class="col-md-6">
			<h4>Stack Light OPC Addresses</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="field-1" class="control-label">Green</label>
					<select style="width: 150px;" ng-model="workstationInfo.greenLightOpcTag">
					  <option value=0>--- Select from list ---</option>
					  <option value=1>1</option>
					  <option value=2>2</option>
					  <option value=3>3</option>
					</select>	
				</div>	
			</div>
			
			<div class="col-md-4">
				<div class="form-group">
					<label for="field-2" class="control-label">Yellow</label>
					<select style="width: 150px;" ng-model="workstationInfo.yellowLightOpcTag">
					  <option value=0>--- Select from list ---</option>
					  <option value=1>1</option>
					  <option value=2>2</option>
					  <option value=3>3</option>
					</select>				
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<label for="field-2" class="control-label">Red</label>
					<select style="width: 150px;" ng-model="workstationInfo.redLightOpcTag">
					  <option value=0>--- Select from list ---</option>
					  <option value=1>1</option>
					  <option value=2>2</option>
					  <option value=3>3</option>
					</select>				
				</div>	
			</div>
		</div>
		
		<br>

		<!-- Engineer in charge -->
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label for="field-3" class="control-label">Engineer in Charge</label>
					<select style="width: 150px;" ng-model="workstationInfo.employeeSso">
					  <option value=0>--- Select from list ---</option>
					  <option value=1>1</option>
					  <option value=2>2</option>
					  <option value=3>3</option>
					</select>				
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-info" ng-click="close();updateWorkstation();">Save</button>
		</div>
	</div>
</script>

<!-- UPDATE TOOL MODAL -->
<script type="text/ng-template" id="modal-tool-update">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Update Tool</h4>
	</div>
	
	<div class="modal-body">
	
		<!-- TOOL NAME -->
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="field-1" class="control-label">Tool Name</label>
				</div>
			</div>
					
			<div class="col-md-4">
				<select style="width: 150px;" ng-model="toolInfo.toolName">
				  <option value="volvo">--- Select from list ---</option>
				  <option value="saab">Saab</option>
				  <option value="opel">Opel</option>
				  <option value="audi">Audi</option>
				</select>

			</div>		
		</div>

		<!-- TOOL TYPE -->
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="field-1" class="control-label">Tool Type</label>
				</div>	
			</div>

			<div class="col-md-4">
				<select style="width: 150px;" ng-model="toolInfo.toolType">
				  <option value="volvo">--- Select from list ---</option>
				  <option value="Electric">Electric</option>
				  <option value="Pneumatic">Pneumatic</option>
				</select>				
			</div>		
		</div>

		<!-- RFID TAG -->
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="field-1" class="control-label">RFID Tag</label>
				</div>
			</div>
			<div class="col-md-4">
				<select style="width: 150px;" ng-model="toolInfo.rfidAddress">
				  <option value="volvo">--- Select from list ---</option>
				  <option value=1>1</option>
				  <option value=2>2</option>
				  <option value=3>3</option>
				</select>	
			</div>	
		</div>				

		<!-- OPC TAG -->
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="field-2" class="control-label">OPC Tag</label>
				</div>
			</div>

			<div class="col-md-4">	
				<select style="width: 150px;" ng-model="toolInfo.opcTag">
					<option value="volvo">--- Select from list ---</option>
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
				</select>				
			</div>	
		</div>

		<!-- IO ADDRESS -->
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="field-2" class="control-label">I/O Address</label>
				</div>
			</div>	

			<div class="col-md-4">
				<select style="width: 150px;" ng-model="toolInfo.ioAddress">
					<option value="volvo">--- Select from list ---</option>
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
				</select>				
			</div>	
		</div>

		<!-- TECHNICIAN IN CHARGE -->
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="field-3" class="control-label">Technician in Charge</label>
				</div>
			</div>

			<div class="col-md-1">
				<select style="width: 150px;" ng-model="toolInfo.employeeSso">
					<option value="volvo">--- Select from list ---</option>
					<option value=1>Saab</option>
					<option value=2>Opel</option>
					<option value=3>Audi</option>
				</select>				
			</div>	
		</div>

		<!-- SAVE BUTTON -->
		<div class="modal-footer">
			<button type="button" class="btn btn-info" ng-click="close();updateTool();">Save</button>
		</div>
	</div>
</script>
