<!-- Table Styles -->
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">

				<!-- TABLE -->
				<div class="row">
					<div class="col-md-9">
						<table class="table table-bordered table-striped table-condensed">
							<thead>
								<tr>
									<th> </th>
									<th>Task Description</th>
									<th>Tool</th>
									<th>Workstation</th>
									<th>Line</th>
									<th>Partial</th>
								</tr>
							</thead>
							
							<tbody>
								<tr ng-repeat="item in tasks">
									<td align="center"><input type="checkbox" value="{{item.toolID}}" ng-checked="selection.indexOf(item) > -1" ng-click="toggleSelection(item)" ng-model="item.Selected"></td>
									<td>{{item.Desc}}</td>
									<td>{{item.Tool}}</td>
									<td>{{item.WS}}</td>
									<td>{{item.Line}}</td>
									<td>{{item.Partial}}</td>
								</tr>
							</tbody>
							
						</table>
					</div>
				</div>

				<!-- BUTTONS -->
				<div class="row">
					<div class="col-md-9">
						<button type="button" class="btn btn-warning pull-right" ng-click="confirmPartial();" ng-disabled="selection.length==0">Partially Confirm</button>
						<button type="submit" class="btn btn-success pull-right" ng-click="confirmFull();" ng-disabled="selection.length==0">Fully Confirm</button>
						<button type="submit" class="btn btn-purple pull-right" ng-click="getConfirmTasks();">
							<span class="fa-rotate-right"></span> <!-- REFRESH -->
						</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
