/**
 *
 * Apply your custom CSS here
 *
*/

.selected {
    background-color:#27662f;
    color:white;
    font-weight:bold;
}

.floatedTable {
    float:left;
}

/*.icon-active i {
	display: none;
}

.icon-active i.show-icon {
	display: block;
	background-color:#27662f;
    color:white;
    font-weight:bold;
}*/