<nav class="navbar user-info-navbar" ng-class="{'mobile-is-visible': layoutOptions.userInfoNavVisible}" role="navigation"><!-- User Info, Notifications and Menu Bar -->

	<!-- Right links for user info navbar -->
	<ul class="user-info-menu right-links list-inline list-unstyled">

		<form class="navbar-form navbar-left">
			<button type="submit" class="btn btn-info" ng-click="openModal('modal-2', 'sm');" ng-hide="$rootScope.isLoggedIn">Log In</button>
			<button type="submit" class="btn btn-info" ng-show="$rootScope.isLoggedIn">Log Out</button>
		</form>

	</ul>

</nav>
